<!doctype html>
<html>
	<head>
	</head>
	<body>
		<form method="post">
			<label for="date_r"> Date : </label><input type="date" name="date_r" id="date_r" />
			<br>
			<br>
			<label for="pays_r"> Pays : </label>
			<select name="pays_r" id="pays_r">
				<option value="france">FRANCE</option>
				<option value="Allemagne">ALLEMAGNE</option>
			</select>

			<label for="ville_r"> Ville : </label><input type="text" name="ville_r" id="ville_r" />
			<br>
			<br>
			<label for="hippod_r"> Hippodrome : </label><input type="text" name="hippod_r" id="hippod_r" />
			<label for="pist_p"> Plat : </label><input type="checkbox" name="pist_p" id="pist_p" />
			<label for="pist_a"> Attele : </label><input type="checkbox" name="pist_a" id="pist_a" />
			<label for="pist_o"> Obstacle : </label><input type="checkbox" name="pist_o" id="pist_o" />
			<br>
			<br>
			<label for="num_r"> Num Réunion : </label><input type="number" min="1" max="10" name="num_r" id="num_r" />			
			<label for="noct_r"> Nocturne : </label><input type="radio" name="noct_r" id="noct_r" /> 	
			<br>
			<br>		
			<label for="num_c"> Num Course : </label><input type="number" min="1" max="20" name="num_c" id="num_c" />
			<label for="nom_c"> Nom Course :  </label><input type="text" name="nom_c" id="nom_c" />
			<label for="prix_c"> Prix : </label><input type="text" name="prix_c" id="prix_c" />
			<label for="nbpart_c"> Nb Partants : </label><input type="number" min="2" max="50" name="nbpart_c" id="nbpart_c" /> 
			<br>
			<br>
			<label for="type_c"> Type Course : </label><input type="text" name="type_c" id="type_c" />
			<label for="dist_c"> Distance : </label><input type="text" name="dist_c" id="dist_c" />
			<br>
			<br>
			<label for="depart_c"> Heure Départ : </label><input type="text" name="depart_c" id="depart_c" />
			<br>
			<br>
			<label for="arriv_1">  1er : </label><input type ="number" min="1" max="50" name="arriv_1" id="arriv_1" />
			<label for="arriv_2">  2ème : </label><input type ="number" min="1" max="50" name="arriv_2" id="arriv_2" />
			<label for="arriv_3">  3ème : </label><input type ="number" min="1" max="50" name="arriv_3" id="arriv_3" />
			<label for="arriv_4">  4ème : </label><input type ="number" min="1" max="50" name="arriv_4" id="arriv_4" />
			<label for="arriv_5">  5ème : </label><input type ="number" min="1" max="50" name="arriv_5" id="arriv_5" />
			<br>
			<br>
			<label for="rap_m4" > Rap Multi4 : </label><input type="text" name="rap_m4" id="rap_m4" />

		</form>
	</body> 
</html>
